# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
virtualvenv/
virtualenv/
venv/
env/
fichiers/
dist/


# VSCode
# .vscode/
.env

# Fichiers Importation
*.xml
*.csv
*.egg-info